<h1>Top Deals</h1>
<div class="row">
    <div class="col-4">
        <img src="assets/img/zimba.jpg" alt="zimba" width="80%">
        <h5>Zimba Peak</h5>
        <h6>Brand - Rhätikon</h6>
        <p>7 nights for only €560.-<br>
        Mountain Guide included!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/Matterhorn.jpg" alt="Matterhorn" width="80%">
        <h5>Matterhorn</h5>
        <h6>Zermatt - Wallis</h6>
        <p>2 nights for only €460.-p.P<br>
        Entry to the Spa included!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/Khor_Virap.jpg" alt="Khor_Virap" width="80%">
        <h5>Khor Virap</h5>
        <h6>Khor Virap - Armenia</h6>
        <p>7 nights for only €400.-p.P<br>
        Trip included!</p>
    </div>
</div>
<h1>Where to go 2021</h1>
<div class="row">
    <div class="col-4">
        <img src="assets/img/rainbow_mountains.jpg" alt="rainbow mountains" width="80%">
        <h5>Rainbow Mountains</h5>
        <h6>Rainbowvalley - Peru</h6>
        <p>14 nights for only €1560.-<br>
        Flights & Guide included!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/RockyMontains.jpg" alt="Rocky Mountains" width="80%">
        <h5>Rocky Mountains</h5>
        <h6>Rocky Springs - USA</h6>
        <p>12 nights for only €1460.-p.P<br>
        Flights & Guide included</p>
    </div>
    <div class="col-4">
        <img src="assets/img/Khor_Virap.jpg" alt="Khor_Virap" width="80%">
        <h5>Khor Virap</h5>
        <h6>Khor Virap - Armenia</h6>
        <p>7 nights for only €400.-p.P<br>
        Trip included!</p>
    </div>
</div>
